    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>¿Quienes somos?</h2>
              <br/>
                <p>Intergrami es un espacio en línea en el que puedes comprar y vender productos agrícolas y/o agropecuarios. Además de que puedes poner en alquiler y alquilar desde maquinaria hasta hectáreas para cultivo.</p>
                <p></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eveniet dolorem aperiam labore asperiores officia odio quis, molestias saepe excepturi cupiditate dignissimos praesentium distinctio dolores consequatur amet? Recusandae, facere velit.</p>
                <br/>
              </div>
        </div>
    </section>
